<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Products</h2>-->
<!--<h3>Edit product</h3>-->

<!--<form action="#" th:action="@{/products/update/{id}(id=${updateProduct.id})}" th:object="${updateProduct}"-->
<!--      method="post">-->
<!--    &lt;!&ndash;    <p>Name: <input type="text" th:field="*{name}" /></p>&ndash;&gt;-->

<!--    <p><label>Name:</label> <input type="text" th:field="*{name}" th:errorclass="error"/>-->
<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></span>-->
<!--    </p>-->

<!--    &lt;!&ndash;    <p>Price: <input type="text" th:field="*{price}" /></p>&ndash;&gt;-->

<!--    <p><label>Price:</label> <input type="text" th:field="*{price}" th:errorclass="error"/>-->
<!--        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="error"></span>-->
<!--    </p>-->
<!--    <p>,-->
<!--        <button type="submit">Change</button>-->
<!--    </p>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="menu" th:insert="fragments/menu :: menu"></div>
<div id="page">
    <h2 th:text="${pageTitle}"></h2>
    <h3>Edit existing product</h3>
    <form action="#" th:action="@{/products/update/{id}(id=${updateProduct.id})}" th:object="${updateProduct}"
          method="post">
        <p><label>Name:</label> <input type="text" th:field="*{name}" th:errorclass="error"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></span>
        </p>
        <p><label>Price:</label> <input type="text" th:field="*{price}" th:errorclass="error"/>
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="error"></span>
        </p>
        <p>
            <button type="submit">Add</button>
        </p>
    </form>
</div>
</body>
</html>